body{
  font-size: 40px;
}
.c-main_div {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: move;
}

.c-mask-image {
    height: 100%;
    border: 1px solid black;
    width: 100%;
    position: relative;
    z-index: 10;
}

.c-pattern-background-image{
  left: 1px;
    top: 1px;
    width: 100%;
    height: 844px;
    position: absolute;
    background-size: 40%;
    background-repeat: repeat;
    background-position: 0% 0%;

}

.img-dis {
  position: relative;
}

.img-dis p {
  position: absolute;
  bottom: -12px;
  right: 5px;
  background: #fff;
  padding: 0 2px;
  z-index: 9999;
}


/* @media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
 size: 210mm 295mm;;
  margin: 0.2rem;
} */

